In [1]:
class Student():
    pass

In [2]:
David = Student()

In [3]:
type(David)

__main__.Student

In [4]:
isinstance(David, Student)

True

In [5]:
__name__

'__main__'

In [20]:
class Car():
    """
    this is a Car class
    """
    def __init__(self, brand):
        self.brand = brand
    def __str__(self):
        return self.brand
    def __eq__(self, other):
        return self.brand == other.brand
    def __ne__(self, other):
        return self.brand != other.brand

In [7]:
c = Car('Toyota')

In [8]:
c.__doc__

'\n    this is a Car class\n    '

In [9]:
c.__dict__

{'brand': 'Toyota'}

In [10]:
c.__module__

'__main__'

In [11]:
c.__class__

__main__.Car

In [13]:
c2 = Car('BMW')

In [14]:
print(c2)

BMW

In [21]:
c1 = Car('Toyota')
c2 = Car('BMW')

In [17]:
c1 == c2

False

In [22]:
c3 = Car('Toyota')

In [19]:
c1 == c3

True

In [23]:
c1 != c2

True

In [40]:
class MyIter():
    def __init__(self, maxnum):
        self.counter = 0
        self.maxnum = maxnum
    def __iter__(self):
        return self
    def __next__(self):
        if self.counter < self.maxnum:
            val = self.counter
            self.counter += 1
            return val
        else:
            raise StopIteration

In [42]:
list(MyIter(5))

[0, 1, 2, 3, 4]