In [1]:
my_money = 100
your_money = 1000
print("I have %d dollars and your money is %d" % (my_money, your_money))

I have 100 dollars and your money is 1000

In [2]:
my_money = 100
your_money = 1000
print("I have {} dollars and your money is {}".format(my_money, your_money))

I have 100 dollars and your money is 1000

In [3]:
name = input("Input your name: ")

Input your name: David

In [4]:
print(name)

David

In [5]:
type(name)

str

In [6]:
age = input("Input your age: ")

Input your age: 20

In [7]:
print('I am ' + age)

I am 20

In [8]:
age + 1

TypeError: must be str, not int

In [9]:
int(age) + 1

21